/*
 * Adding CRT like scanlines effect to image
 * Code is based on https://codepen.io/meduzen/pen/zxbwRV
 */

 /* Scanlines settings */
 $scan-width: 2px; // width of 1 scanline (min.: 1px)
 $scan-crt: true;  // emulates bad pre 2000 CRT screens
 $scan-fps: 60;    // frames per second. Only applies if $scan-crt is true
 $scan-color: rgba(#000, .3); // scanline color
 $scan-z-index: 2147483648; // set z-index on 8, like in ♥ 8-bits ♥, or…
                            // set z-index on 2147483648 or more to enable 
                            // scanlines on Chrome fullscreen (doesn't work 
                            // in Firefox or IE);

/* Moving scanline settings */
$scan-moving-line: true; // either set the scanlines to move or not.
$scan-opacity: .75; // opacity of the moving scanlines

/* Mixins */

// apply CRT animation: @include scan-crt($scan-crt)
@mixin scan-crt($scan-crt) {
  @if $scan-crt == true {
    animation: scanlines 1s steps($scan-fps) infinite;
  }
  @else {
    animation: none;
  }
}

// apply CRT animation: @include scan-crt($scan-crt)
@mixin scan-moving($scan-moving-line) {
  @if $scan-moving-line == true {
    animation: scanlines 6s linear infinite;
  }
  @else {
    animation: none;
  }
}

/* .scanlines CSS class */
.scanlines {
  position: relative;
  overflow: hidden;  // only to animate the unique scanline

  &:before, &:after {
    display: block;
    pointer-events: none;
    content: '';
    position: absolute;
  }

  // unique scanlines travelling on the screen
  &:before {
    // position: absolute;
    // bottom: 100%;
    width: 100%;
    height: $scan-width * 1;
    z-index: $scan-z-index + 1;
    background: $scan-color;
    opacity: $scan-opacity;
    // animation: scanline 6s linear infinite;
    @include scan-moving($scan-moving-line);
  }

  // the scanlines
  &:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $scan-z-index;
    background: linear-gradient(
      to bottom,
      transparent 50%,
      $scan-color 51%
    );
    background-size: 100% $scan-width*2;
    @include scan-crt($scan-crt);
  }
}

/* Animate unique scanline */
@keyframes scanline {
  0% {
    transform: translate3d(0,200000%,0);
    // bottom: 0%; // to have a continuous scanline move, use this
                   // line (here in 0% step) instead of transform and 
                   // write, in &:before, { position: absolute; bottom: 100%; }
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 50%;
    // bottom: 0%; // to have a continuous scanline move, use this
                   // line (here in 0% step) instead of transform and 
                   // write, in &:before, { position: absolute; bottom: 100%; }
  }
}